<template>
  <v-container>
    <v-flex>
      <v-row>
        <v-col cols="auto">
          <h1>Catálogo</h1>
        </v-col>
        <div class="flex-grow-1"></div>
        <v-col cols="8">
          <v-text-field solo dense append-icon="mdi-send" placeholder="Buscar"></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4" v-for="item in this.$store.state.products" v-bind:key="item.id">
          <v-card
            width="300px"
            style="margin-top: 10px; margin-left:20px"
            @click="sendId(item.id)"
            id="btnProduct"
          >
            <v-container style="padding: 0px 12px 0px 12px">
              <v-row justify="space-between" style="padding: 5px">
                <v-img height="300px" width="200px" style="border-radius: 20px" :src="item.img"></v-img>
              </v-row>
              <p justify="center" align="center" id="serviceText">{{item.product}}</p>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>

    <div class="text-center">
      <v-container>
        <v-row justify="center">
          <v-col cols="10">
            <v-container class="max-width">
              
              <v-pagination v-model="page" class="my-4" :length="1" circle :items="this.$store.state.products"></v-pagination>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </div>

  </v-container>
</template>

<script>
export default {
  name: "Catalogue",
  methods: {
    sendId(id) {
      this.$store.commit("resId", id);
      this.$router.push("/client/catalogue/product");
    }
  },
  data(){
    return{
      page: 1
    }
  }
};
</script>

<style>
#serviceText {
  font-weight: bold;
}
</style>