<template>
    <v-container>
        <v-flex>
            <h1>Configuración</h1>
            <v-container>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-row>
                <v-avatar size="40px" class="mr-5">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt
                    style="margin-left: 15px"
                  />
                </v-avatar>
                <v-text-field
                  class="showTxtField"
                  solo
                  dense
                  :placeholder="this.$store.state.users[this.$store.state.logid].name"
                  :rules="nameRules"
                  :counter="15"
                  disabled
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].patern"
                :rules="lastNameRules"
                :counter="10"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-comment"
                :placeholder="this.$store.state.users[this.$store.state.logid].matern"
                :rules="lastNameRules"
                :counter="10"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                prepend-icon="mdi-mail"
                :placeholder="this.$store.state.users[this.$store.state.logid].mail"
                :rules="mailRules"
                :counter="20"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="tel"
                prepend-icon="mdi-phone"
                :placeholder="this.$store.state.users[this.$store.state.logid].tel"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                class="showTxtField"
                solo
                dense
                type="password"
                prepend-icon="mdi-lock"
                placeholder="********"
                disabled
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    text
                    color="primary"
                   @click="dialogEdit = !dialogEdit" 
                >Editar</v-btn>
            </v-card-actions>
        </v-flex>

        <v-dialog v-model="dialogEdit" width="800px">
            <v-card>
                <v-container>
                    <v-card-title class="green lighten-1">
                        Editar
                    </v-card-title>
                    <v-row>                        
                        <v-col class="align-center justify-space-between" cols="12">
                            <v-row>
                                <v-avatar
                                size="40px"
                                class="mr-5"
                                >
                                <img
                                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                                    alt=""
                                    style="margin-left: 15px"
                                >
                                </v-avatar>
                                <v-text-field class="showTxtField"
                                solo
                                dense

                                :rules="nameRules"
                                :counter="15"
                                ></v-text-field>
                            </v-row>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense
                                prepend-icon="mdi-comment"
                                :rules="lastNameRules"
                                :counter="10"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense   
                                prepend-icon="mdi-comment"
                                :rules="lastNameRules"
                                :counter="10"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense
                                prepend-icon="mdi-mail"
                                :rules="mailRules"
                                :counter="20"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense
                                type="tel"
                                prepend-icon="mdi-phone"
                                placeholder="(000) 000 - 0000"
                                :rules="telRules"
                                :counter="10"
                            ></v-text-field>
                        </v-col> 

                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense
                                type="password"
                                prepend-icon="mdi-lock"
                                placeholder="Contraseña actual"
                                :rules="passRules"
                                :counter="10"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="6">
                            <v-text-field class="showTxtField"
                                solo
                                dense
                                type="password"
                                prepend-icon="mdi-lock"
                                placeholder="Nueva contraseña"
                                :rules="passRules"
                                :counter="10"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        text
                        color="primary"
                        @click="dialogEdit = !dialogEdit" 
                    >Guardar Cambios</v-btn>
                    <v-btn
                        text
                        color="error"
                        @click="dialogEdit = !dialogEdit" 
                    >Cancelar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>



<script>
export default {
    methods: {
        appendIconCallback () {},
        prependIconCallback () {},
    },
    data: () => ({
        dialogEdit: false,
        nameRules: [
            v => !!v || 'Nombre es requerido',
            v => v.length <= 15 || 'El nombre debe tener menos de 15 caracteres.'
        ],
        lastNameRules: [
            v => !!v || 'Apellido es requerido',
            v => v.length <= 10 || 'El Apellido debe tener menos de 10 caracteres.'
        ],
        mailRules: [
            v => !!v || 'E-mail es requerido',
            v => /.+@.+\..+/.test(v) || 'El email debe ser válido',
        ],
        telRules: [
            v => !!v || 'Telefono es requerido',
            v => v.length <= 10 || 'El Telefono debe tener 10 caracteres.'
        ],
        direcRules: [
            v => !!v || 'Dirección es requerido',
            v => v.length <= 40 || 'La dirección debe tener menos de 40 caracteres.'
        ],
        passRules:[
            v => !!v || 'Contraseña es requerida']
    }),
}
</script>


<style>

</style>