<template>
    <v-container class="tamanioCard">
        <v-flex>
            <h1>Inicio</h1>
            <v-container>
                <v-row>
                    <v-carousel height="300px" absolute cycle>
                    <div style="auto">
                        <v-carousel-item width="auto"
                            v-for="(item,i) in this.$store.state.carrouselImgs"
                            :key="i"
                            :src="item.src"
                            reverse-transition="fade-transition"
                            transition="fade-transition"
                        >
                        </v-carousel-item>
                    </div>
                    
                </v-carousel>
                </v-row>
            </v-container>
            <div>
                
            </div>
            
            <h2>Acerca de</h2>
            <p class="descrip">
                Esta empresa se basa en el enfoque a las tallas plus, las tallas extras, contamos con prendas únicas desde el numero 0 (XS) hasta el 24 (XXXL) con la particularidad de ser prenda no tan actualizada de ahí su concepto Vintage o antiguo que hace referencia a una determinada época, en la post modernidad se refiere a las décadas de los años 80´s 90´s y 2000.
            </p>
            <p class="descrip">
                En Plus Madame Vintage Boutique nuestra misión empresarial se basa en satisfacer a las damas duranguenses que requieren adquirir una prenda para acudir a algún evento social especial para ellas, con la cual puedan visualizarse: bellas y elegantes, sin sacrificar la comodidad que su cuerpo exige, la calidad de las prendas que portan y el importe que están dispuestas a pagar por ello.
            </p>
            <p class="descrip">
                •	Consolidarnos como la boutique especializada en tallas plus sin dejar de lado la belleza, la tendencia, el estilo y el confort para cada una de nuestras clientas.
            </p>
            <p class="descrip">
                •	Así mismo, llegar a maquilar nuestros propios diseños, incentivando la creatividad de los diseñadores locales, y fomentar el consumo regional de nuestra comunidad.
            </p>
            <p class="descrip">
                •	Realizar pasarelas y performances las nuevas tendencias año con año con mujeres reales. (dejando atrás el estereotipo de la belleza tradicional y que la mujer delgada es físicamente más atractiva).
            </p>
        </v-flex>
    </v-container>
</template>

<script>
export default {
    
}
</script>

<style>
.tamanioCard h1{
    padding: 0px 20px 20px 20px;
}
.tamanioCard h2{
    padding: 20px;
}
.descrip{
    font-size: 20px;
}

</style>