<template>
  <v-container>
    <v-flex pa>
      <h1 style="margin:10px">Producto</h1>
      <v-card>
        <v-row>
          <v-col cols="4" style="margin-left:60px;">
            <v-img
              style="margin-top:20px"
              height="300px"
              width="200px"
              :src="this.$store.state.products[this.$store.state.itemID].img"
            ></v-img>
          </v-col>
          <v-col cols="1" style="padding:0">
            <v-card width="10px" height="100%"></v-card>
          </v-col>
          <v-col cols="5">
            <h2
              align="right"
            >Precio: ${{this.$store.state.products[this.$store.state.itemID].precio}}</h2>
            <h2>Descripción:</h2>
            <p id="text">{{this.$store.state.products[this.$store.state.itemID].description}}</p>
            <h2 style="margin:20px 0px 20px 0px">Tallas:<span style="margin-left:10px; padding:5px 15px 5px 15px; background-color: antiquewhite; border-radius: 20px" v-for="item in this.$store.state.products[this.$store.state.itemID].talla" v-bind:key="item.id">{{item}}</span></h2>
            <h2>Colores:<span style="margin-left:10px; padding:5px 15px 5px 15px; background-color: antiquewhite; border-radius: 20px" v-for="item in this.$store.state.products[this.$store.state.itemID].color" v-bind:key="item.id">{{item}}</span></h2>

          </v-col>
        </v-row>
      </v-card>

      <v-toolbar>
        <v-toolbar-items>
          <v-btn text v-on:click="addWhish()">Añadir a lista de deseos</v-btn>
          <v-spacer></v-spacer>
          <v-btn text>Puntuación</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card-text padding="5%">
        <h1 id="title">Datos de compra</h1>
        <v-row>
          <v-col cols="4" align="center">
            <h2>Seleccionar talla</h2>
            <v-btn
              style="margin:5px"
              v-for="item in this.$store.state.products[this.$store.state.itemID].talla"
              v-bind:key="item.id"
              v-on:click="addTalla(item)"
            >{{item}}</v-btn>
          </v-col>
          <v-col cols="4" align="center">
            <h2>Seleccionar color</h2>
            <v-btn
              style="margin:5px"
              v-for="item in this.$store.state.products[this.$store.state.itemID].color"
              v-bind:key="item.id"
              v-on:click="addColor(item)"
            >{{item}}</v-btn>
          </v-col>
          <v-col cols="4" align="center">
            <h1>Añadir a la Bolsa</h1>
            <v-btn style="margin:5px; height:50px"
              v-on:click="sendToBag(talla, color)"            >
            <v-img src="https://image.flaticon.com/icons/svg/34/34564.svg" width="50px" height="50px"></v-img>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      talla: null,
      color: null
    }
  },
  methods: {
    addTalla(tall){
      this.talla = tall
      this.$store.commit("talla", tall);
    },
    addColor(col){
      this.color = col
      this.$store.commit("color", col);
    },
    sendToBag(talla,color) {
      if(talla != null && color != null){
        var find = this.$store.state.products.filter(
        item =>
          item.id == this.$store.state.itemID
        );
        if (find.length == 1) {
          this.$store.commit("toBag", find[0].id);
        }
        alert("Articulo añadido a la bolsa de compras")
      }
      else{
        alert("Seleccionar todos los campos");
      }
      
    },
    addWhish(){
      var find = this.$store.state.products.filter(
        item =>
          item.id == this.$store.state.itemID
      );
      if (find.length == 1) {
        this.$store.commit("toWishList", find[0].id);
      }
    }
  },
  created() {

  }
};
</script>

<style>
#title {
  margin-top: 2%;
  margin-bottom: 2%;
}
#text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
</style>