<template>
  <v-container>
    <v-flex>
      <v-row>
        <v-col cols="9">
          <h1>Bolsa de compras</h1>
        </v-col>
        <div class="flex-grow-1"></div>
        <v-col cols="2">
          <v-btn color="success">Comprar</v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="4" v-for="(item,index) in this.$store.state.shopBag" v-bind:key="index">
          <v-card class="d-inline-block" width="1000px" style="margin-top: 10px;">
            <v-container style="padding: 0px 12px 0px 12px">
              <v-row justify="center" style="padding: 5px">
                <v-col cols="auto">
                  <v-img height="300px" width="200px" style="border-radius: 20px" :src="item.img"></v-img>
                </v-col>
                <v-col cols="auto">
                  <h2>{{item.product}}</h2>
                  <h2>Precio: ${{item.precio}}</h2>

                  <h2>
                    Talla:
                    <v-chip style="font-size:20px">{{item.talla}}</v-chip>
                  </h2>

                  <h2>
                    Color:
                    <v-chip style="font-size:20px">{{item.color}}</v-chip>
                  </h2>

                  <v-btn
                    style="margin:10px"
                    justify-end
                    color="error"
                    v-on:click="deleteItem(index)"
                  >Eliminar</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  methods: {
    deleteItem(id) {
      this.$store.commit("delBag", id);
    }
  }
};
</script>

<style>
</style>