<template>
  <v-container>
    <!-- <v-flex >
    <p>
    jajajja
    </p>
    </v-flex> -->
    <v-flex >
      <v-row>
        <v-col cols="9">
          <h1>Lista de deseos</h1>
        </v-col>
        <div class="flex-grow-1"></div>
      </v-row>
      <v-row v-if="lista.lenght = 0">
        jajaaj
      </v-row>
      <v-row v-else>
        <v-col cols="4" v-for="item in lista[0]" v-bind:key="item.id">
          <v-card class="d-i
          nline-block" width="1000px" style="margin-top: 10px;">
            <v-container style="padding: 0px 12px 0px 12px">
              <v-row justify="center" style="padding: 5px">
                <v-col cols="auto">
                  <v-img height="300px" width="200px" style="border-radius: 20px" :src="item.img"></v-img>
                </v-col>
                <v-col cols="auto">
                  <h2>{{item.product}}</h2>
                  <h2>Precio: ${{item.precio}}</h2>
                </v-col>
                <v-col cols="auto">
                  <v-btn color="success" v-on:click="sendId(item.idProduct)">Ir a comprar</v-btn>
                  <v-btn style="margin-left:5px" justify-end color="error" v-on:click="deleteWhish(item.id, item.idProduct)">Eliminar</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      lista: []
    };
  },
  beforeMount() {
    var whishs = this.$store.state.whishList.filter(
      item =>
        item.idUser == this.$store.state.logid
    );
    this.lista.push(whishs);
    console.log(whishs)
    this.$forceUpdate();
  },
  updated(){
    
  },
  methods: {
    deleteWhish(id, idProduct) {
      var find = this.$store.state.whishList.filter(
        item =>
          item.id == id &&
          item.idUser == this.$store.state.logid &&
          item.idProduct == idProduct
      );
      console.log(find[0]);
      var pos = this.$store.state.whishList.indexOf(find[0]);
      this.$store.commit("delWhish",pos);
    },
    sendId(id){
          this.$store.commit("resId", id);
          this.$forceUpdate();
      }
  }
};
</script>

<style>
</style>