<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    :search="search"
    :single-expand="singleExpand"
    :expanded.sync="expanded"
    item-key="name"
    show-expand
    class="elevation-5"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Productos</v-toolbar-title>

        <v-divider class="mx-4" inset vertical></v-divider>

        <v-text-field v-model="search" label="Buscar" single-line hide-details></v-text-field>

        <v-switch v-model="singleExpand" style="margin-left:30px" label="solo" class="mt-2"></v-switch>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="800px">
          <template v-slot:activator="{ on }">
            <v-btn
              style="margin-left:30px"
              color="primary"
              dark
              class="mb-2"
              v-on="on"
            >Agregar Producto+</v-btn>
          </template>

          <v-card width="800px">
            <v-card-title>
              <span class="headline">Nuevo Producto</span>
            </v-card-title>

            <v-card-text>
              <v-container id="dropdown-example">
                <v-row>
                  <v-col cols="6">
                    <v-text-field v-model="editedItem.name" label="Producto"></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field v-model="editedItem.precio" label="Precio"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6">
                    <p>Talla</p>
                    <v-overflow-btn
                      class="my-2"
                      :items="dropdown_talla"
                      label="Talla"
                      segmented
                      target="#dropdown-example"
                      v-model="editedItem.talla"
                    ></v-overflow-btn>
                  </v-col>
                  <v-col cols="6">
                    <p>Talla</p>
                    <v-overflow-btn
                      class="my-2"
                      :items="dropdown_colores"
                      label="colores"
                      segmented
                      target="#dropdown-example"
                      v-model="editedItem.colores"
                    ></v-overflow-btn>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="editedItem.descrip" label="Descripción"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">editar</v-icon>
      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
    <template v-slot:expanded-item="{ headers }">
      <td :colspan="headers.length">Descripcion:</td>
    </template>
  </v-data-table>
</template>

<style>
</style>

<script>
export default {
  data: () => ({
    dialog: false,
    search: "",
    expanded: [],
    singleExpand: false,
    dropdown_talla: [
      { text: " XL ", callback: () => console.log("XL") },
      { text: " X ", callback: () => console.log("X") },
      { text: " L ", callback: () => console.log("L") }
    ],
    dropdown_colores: [
      { text: " Azul ", callback: () => console.log("Azul") },
      { text: " Rojo ", callback: () => console.log("Rojo") },
      { text: " Amarillo ", callback: () => console.log("Amarillo") }
    ],
    headers: [
      {
        text: "Producto",
        align: "left",
        sortable: false,
        value: "name"
      },
      { text: "Precio", value: "precio" },
      { text: "Talla", value: "talla" },
      { text: "Colores", value: "colores" },
      { text: "Actions", value: "action", sortable: false }
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      precio: 100,
      talla: "XL",
      colores: "rojo",
      descrip: ""
    },
    defaultItem: {
      name: "",
      precio: 0,
      talla: "",
      colores: "",
      descrip: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.desserts = [
        {
          name: "Frozen Yogurt",
          precio: 100,
          talla: "XL",
          colores: "rojo",
          descrip: "no se XD"
        },
        {
          name: "Ice cream sandwich",
          precio: 100,
          talla: "XL",
          colores: "rojo",
          descrip: "no se XD"
        },
        {
          name: "Eclair",
          precio: 100,
          talla: "XL",
          colores: "rojo",
          descrip: "no se XD"
        },
        {
          name: "Cupcake",
          precio: 100,
          talla: "XL",
          colores: "rojo",
          descrip: "no se XD"
        },
        {
          name: "Gingerbread",
          precio: 100,
          talla: "XL",
          colores: "rojo",
          descrip: "no se XD"
        },
        {
          name: "Jelly bean",
          precio: 100,
          talla: ["XL", "XL"],
          colores: "rojo",
          descrip: "no se XD"
        }
      ];
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Estas seguro que quieres eliminar es producto?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>