<template>
  <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      :single-expand="singleExpand"
      :expanded.sync="expanded"
      item-key="name"
      show-expand
      class="elevation-5"
  >
    <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Usuarios</v-toolbar-title>
          
          <v-divider
          class="mx-4"
          inset
          vertical
          ></v-divider>

          <v-text-field
              v-model="search"
              label="Buscar"
              single-line
              hide-details
          ></v-text-field>

          <v-switch v-model="singleExpand" style="margin-left:30px" label="solo" class="mt-2"></v-switch>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="800px">
              <template v-slot:activator="{ on }">
                  <v-btn style="margin-left:30px" color="primary" dark class="mb-2" v-on="on">Agregar Usuario+</v-btn>
              </template>
              
              <v-card width="800px">
                  <v-card-title>
                      <span class="headline">Nuevo Producto</span>
                  </v-card-title>

                  <v-card-text>
                      <v-container id="dropdown-example">
                          <v-row>
                              <v-col cols="6">
                                  <v-text-field 
                                    :rules="nameRules"
                                    :counter="15"
                                    v-model="editedItem.name" label="Nombre"></v-text-field>
                              </v-col>
                              <v-col cols="6">
                                  <v-text-field 
                                    :rules="lastNameRules"
                                    :counter="10"
                                    v-model="editedItem.patern" label="Paterno"></v-text-field>
                              </v-col>
                          </v-row>
                          <v-row>
                            <v-col cols="6">
                                  <v-text-field 
                                    :rules="lastNameRules"
                                    :counter="10"
                                    v-model="editedItem.matern" label="Materno"></v-text-field>
                              </v-col>
                              <v-col cols="6">
                                  <v-text-field 
                                    :rules="telRules"
                                    :counter="10"
                                    required
                                    v-model="editedItem.tel" label="Telefono"></v-text-field>
                              </v-col>
                          </v-row>
                          <v-row>
                              <v-col cols="6">
                                  <v-text-field 
                                    :rules="mailRules"
                                    :counter="20"
                                    v-model="editedItem.mail" label="Email"></v-text-field>
                              </v-col>
                              <v-col cols="6">
                                  <v-text-field 
                                    v-model="editedItem.pass" 
                                    label="Contraseña"
                                    :rules="passRules"
                                    :counter="10"
                                  ></v-text-field>
                              </v-col>
                          </v-row>
                      </v-container>
                  </v-card-text>

                  <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                      <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
                  </v-card-actions>
              </v-card>
            </v-dialog>
        </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
        <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
        >
            editar 
        </v-icon>
        <v-icon
            small
            @click="deleteItem(item)"
        >
            mdi-delete
        </v-icon>
    </template>
    <template v-slot:expanded-item="{ headers }">
        <td :colspan="headers.length">Descripcion: </td>
    </template>
  </v-data-table>
</template>

<style>

</style>

<script>
  export default {
    data: () => ({
      dialog: false,
      search: '',
      expanded: [],
      singleExpand: false,
      mailRules: [
        v => !!v || 'Este campo es obligatorio',
        v => /.+@.+\..+/.test(v) || 'Introduzca un correo válido',
      ],
      passRules:[
          v => !!v || 'Por favor introduzca su contraseña'],
      telRules: [
          v => !!v || 'Telefono es requerido',
          v => v.length <= 10 || 'El Telefono debe tener 10 caracteres.'
      ],
      direcRules: [
          v => !!v || 'Dirección es requerido',
          v => v.length <= 40 || 'La dirección debe tener menos de 40 caracteres.'
      ],
      nameRules: [
          v => !!v || 'Nombre es requerido',
          v => v.length <= 15 || 'El nombre debe tener menos de 15 caracteres.'
      ],
      lastNameRules: [
          v => !!v || 'Apellido es requerido',
          v => v.length <= 10 || 'El Apellido debe tener menos de 10 caracteres.'
      ],
      headers: [
        {
          text: 'Nombre',
          align: 'left',
          sortable: false,
          value: 'name',
        },
        { text: 'Paterno', value: 'patern' },
        { text: 'Materno', value: 'matern' },
        { text: 'Telefono', value: 'tel' },
        { text: 'Email', value: 'mail' },
        { text: 'Type', value: 'type' },
        { text: 'Actions', value: 'action', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        patern: '',
        matern: '',
        tel: '',
        mail: '',
        pass: '',
        type: 1
      },
      defaultItem: {
        name: '',
        patern: '',
        matern: '',
        tel: '',
        mail: '',
        pass: '',
        type: 1
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.desserts = this.$store.state.users;
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Estas seguro que quieres eliminar este usuario?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>