<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app color="pink lighten-5">
      <v-list dense>
        <!-- Items Cliente -->
        <v-list-item to="/" @click.stop="drawer = !drawer">
          <v-list-item-action>
            <v-icon x-large>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/catalogue" @click.stop="drawer = !drawer">
          <v-list-item-action>
            <v-icon x-large>mdi-book</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Cátalogo</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/shopbag" @click.stop="drawer = !drawer" v-if="this.$store.state.typeId == 1">
          <v-list-item-action>
            <v-icon x-large>mdi-cart-arrow-right</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Bolsa de compras</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/whishlist" @click.stop="drawer = !drawer" v-if="this.$store.state.typeId == 1">
          <v-list-item-action>
            <v-icon x-large>mdi-star</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Lista de deseos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/client/conf" @click.stop="drawer = !drawer" v-if="this.$store.state.typeId == 1">
          <v-list-item-action>
            <v-icon x-large>mdi-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Configuración</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <hr />
        <!-- Items de admin -->
        <v-list-item to="/admin/products" @click.stop="drawer = !drawer" v-if="this.$store.state.typeId == 2">
          <v-list-item-action>
            <v-icon x-large>mdi-book</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Productos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/admin/users" @click.stop="drawer = !drawer" v-if="this.$store.state.typeId == 2">
          <v-list-item-action>
            <v-icon x-large>mdi-face</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Usuarios</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="pink lighten-4">
      <v-toolbar-title style="width: 400px" class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down" id="pageName">Plus Madame</span>
      </v-toolbar-title>

      <div class="flex-grow-1"></div>
      <v-btn
        rounded
        style="margin-right:20px"
        v-if="this.$store.state.islogued"
        v-on:click="logoutHandler()"
      >Cerrar sesión</v-btn>
      <v-btn rounded style="margin-right:20px" @click="dialogLog = !dialogLog" v-else>Iniciar sesión</v-btn>
      <v-btn
        rounded
        style="margin-right:20px"
        @click="dialogReg = !dialogReg"
        v-if="!this.$store.state.islogued"
      >Registrate</v-btn>
    </v-app-bar>

    <v-content>
      <v-container fill-height fluid class="fondo">
        <v-row style="height:100%" align="center" justify="center">
          <div class="justify-center">
            <v-card style="with:80%; height: 100%;">
              <router-view />
            </v-card>
          </div>
        </v-row>
      </v-container>
    </v-content>
    <v-footer color="pink lighten-4" app>
      <span class="white--text">@PlusMadameBoutique</span>
    </v-footer>

    <v-dialog v-model="dialogLog" width="800px">
      <v-card>
        <v-container>
          <v-card-title class="pink lighten-4">Iniciar sesión</v-card-title>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-text-field
                solo
                dense
                prepend-icon="mdi-mail"
                placeholder="Correo electronico"
                id="emaillog"
                :rules="mailRules"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                solo
                dense
                type="password"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                id="passlog"
                :rules="passRules"
              ></v-text-field>
            </v-col>

            <v-col>
              <div class="flex-grow-1"></div>
              <v-btn text color="primary" right>Haz olvidado tu contraseña?</v-btn>
            </v-col>

            <v-col cols="12" align="right" justify="right">
              <v-btn x-large color="primary" dark rounded v-on:click="loginHandler()">Login</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogReg" width="800px">
      <v-card>
        <v-container>
          <v-card-title class="pink lighten-4">Registro</v-card-title>
          <v-row>
            <v-col class="align-center justify-space-between" cols="12">
              <v-row>
                <v-avatar size="40px" class="mr-5">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    style="margin-left: 15px"
                  />
                </v-avatar>
                <v-text-field
                  solo
                  dense
                  :rules="nameRules"
                  :counter="15"
                  placeholder="Nombre"
                  id="name_user"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                :rules="lastNameRules"
                :counter="10"
                prepend-icon="mdi-comment"
                placeholder="Paterno"
                id="patern_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                :rules="lastNameRules"
                :counter="10"
                prepend-icon="mdi-comment"
                placeholder="Materno"
                id="matern_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                :rules="mailRules"
                :counter="20"
                prepend-icon="mdi-mail"
                placeholder="Correo"
                id="mail_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="tel"
                :rules="telRules"
                :counter="10"
                prepend-icon="mdi-phone"
                placeholder="(000) 000 - 0000"
                id="tel_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="password"
                :rules="passRules"
                :counter="10"
                prepend-icon="mdi-lock"
                placeholder="Contraseña"
                id="pass_user"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                solo
                dense
                type="password"
                :rules="passRules"
                :counter="10"
                prepend-icon="mdi-lock"
                placeholder="Confirmar contraseña"
                id="confirm_pass"
              ></v-text-field>
            </v-col>
            <v-col cols="12" align="center" justify="center">
              <v-btn x-large color="primary" dark rounded>Registrarse</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  methods: {
    loginHandler() {
      var find = this.$store.state.users.filter(
        item =>
          item.mail == document.getElementById("emaillog").value &&
          item.pass == document.getElementById("passlog").value
      );
      if (find.length == 1) {
        this.$store.commit("login", find[0]);
        this.dialogLog = !this.dialogLog;
      }
    },
    logoutHandler() {
      this.$store.commit("login");
    },
    regUser(){
      this.$store.state.users.push({
        name: document.getElementById("name_user"),
        patern: document.getElementById("name_patern"),
        matern: document.getElementById("name_matern"),
        tel: document.getElementById("tel_user"),
        mail: document.getElementById("mail_user"),
        pass: document.getElementById("pass_user"),
        type: 1
      });
     }
  },
  data: () => ({
    drawer: false,
    switch1: false,
    model: true,
    dialogLog: false,
    dialogReg: false,
    mailRules: [
      v => !!v || "Este campo es obligatorio",
      v => /.+@.+\..+/.test(v) || "Introduzca un correo válido"
    ],
    passRules: [v => !!v || "Por favor introduzca su contraseña"],
    telRules: [
      v => !!v || "Telefono es requerido",
      v => v.length <= 10 || "El Telefono debe tener 10 caracteres."
    ],
    direcRules: [
      v => !!v || "Dirección es requerido",
      v => v.length <= 40 || "La dirección debe tener menos de 40 caracteres."
    ],
    nameRules: [
      v => !!v || "Nombre es requerido",
      v => v.length <= 15 || "El nombre debe tener menos de 15 caracteres."
    ],
    lastNameRules: [
      v => !!v || "Apellido es requerido",
      v => v.length <= 10 || "El Apellido debe tener menos de 10 caracteres."
    ]
  })
};
</script>

<style>
.btnUsuario {
  align-self: auto;
}
.estCard {
  padding: 0% 15% 0% 15%;
  height: 100%;
}
.tamanioCard {
  height: 100%;
}
#pageName {
  font-weight: bold;
  font-size: 30px;
}
.fondo{
  background-image: url("../src/assets/background.jpg");
}
</style>